body {
  background-color: orangered;
}

p {
  font-family: monospace;
  color: yellow;
}

h3 {
  font-family: monospace;
  color: white;
}

/* Contains code for everything container */
/* Grid Styling, from W3Schools */
.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-color: orangered;
  padding: 10px;
}
 /* More grid styling, from W3Schools */
.grid-item {
  background-color: orangered;
  border: 1px solid yellow;
  padding: 10px 10px 10px 10px;
  font-size: 50px;
  text-align: center;
}

/* .block {
  width: 45%;
  height: 50%;
  height: 50%;
  border: none;
  margin: 0;
  background-color: transparent;
  padding: 0px 0px 0px 0px;
  font-size: 16px;
  text-align: center;
  border-color: blue;
  border-style: dotted;
}

.img {
  opacity: 0.5;
  width: 20%;
  height: 20%;
} */

button {
  width: 45%;
  height: 50%;
  height: 50%;
  border: none;
  margin: 0;
  background-color: transparent;
  padding: 0px 0px 0px 0px;
  font-size: 16px;
  text-align: center;
  border-color: blue;
  border-style: dotted;
}

.img {
  opacity: 0.5;
  width: 20%;
  height: 20%;
}